#tag-list {
    border: 1px solid gray;
    margin-bottom: 20px;
    background: white;
    min-height: 300px;
    box-shadow: 3px 3px 5px 0;
    padding: 20px;
}

#tl-title-bttn-box {
    display: flex;
    justify-content: space-between;
}

#tl-tags  {
    padding-left: 40px;
    margin-top: 20px;
    justify-content: space-between;

}

.tl-item {
    list-style: square;
}

.tl-item-delete {
    margin-left: 15px;
}