.post {
    border: 1px solid gray;
    margin-bottom: 20px;
    background: white;
    height: 300px;
    box-shadow: 3px 3px 5px 0;
    padding: 20px;
}

.p-title-delete-box {
    display: flex;
    justify-content: space-between;
}

.p-btn-delete {
    background: darkred;
    border: none;
    color: white;
    cursor: pointer;
    padding: 3px 6px;
    text-decoration: none;
    margin-top: -6px;
    margin-right: -20px;
}

.p-text-img {
    display: flex;
    margin-top: 20px;
}

.p-text {
    text-align: justify;
    width: 60%;
    margin-left: 20px;
    overflow: hidden;
    height: 150px;
}

.p-text p {
    margin-bottom: 10px;
}

.p-img {
    width: 40%;
    overflow: hidden;
    height: 150px;
}

.p-img img {
    object-fit: contain;
    width: 100%;
}


.p-tag-bttn {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.p-keep-reading-bttn {
    background: green;
    padding: 7px 40px;
    border: none;
    color: white;
    margin-top: 18px;
    margin-right: -21px;
    text-decoration: none;
}