nav {
    background: white;
    padding: 20px;
    margin-bottom:20px;
}
nav li {
    list-style-type: none;
    display:inline-block;
    margin-right: 20px;
}
nav li a {
    text-decoration: none;
    color: initial;
}