#nt {
    border: 1px solid gray;
    margin-bottom: 20px;
    background: white;
    min-height: 300px;
    box-shadow: 3px 3px 5px 0;
    padding: 20px;
}

.nt-field {
    margin-top: 20px;
}

.nt-field label {
    display:block;
}

#nt-save-btn {
    margin-top: 20px;
}

#nt-message {
    padding:10px;
    margin-top: 10px;
    background: yellow;
}