#new-post {
    border: 1px solid gray;
    margin-bottom: 20px;
    background: white;
    min-height: 300px;
    box-shadow: 3px 3px 5px 0;
    padding: 20px;
}

.np-field {
    margin-top: 10px;
}

.np-field input,
.np-field select,
.np-field textarea {
    display: block;
    width: 200px;
}

.np-field textarea {
    height: 100px;
}

#new-post > form > button {
    margin-top: 20px;
}

#np-confirmed  {
    background: yellow;
    padding: 20px;
    margin: 10px 0;
}