#sb-tag-list {
    background: white;
    margin-top: 20px;
    padding: 20px;
}

#sb-tag-list ul {
    margin-top: 20px;
}

#sb-tag-list li {
    list-style: none;
    margin-top: 5px;
}

.sb-tag-item a {
    text-decoration: none;
    color: initial
}