* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: whitesmoke;
}

#container {
    display: flex;
    margin: 0 5%;
    justify-content: space-evenly;
    }

#box-nova-atividade {
    background-image: linear-gradient(to top, #5f8fe7, #00a7f2, #00bae7, #00c9c9,
    #00d3a2, #4bda8d, #75df75, #9de35c, #b3e95b, #c9f05b, #def55c, #f4fb5f);
    border-radius: 10px;
    padding:20px;
}

#box-nova-atividade h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

#box-nova-atividade label {
    font-size: .80em;
}

.campo-nova-atividade-1 label {
    display: block;
    margin-bottom: 5px;
}

.campo-nova-atividade-1 input, select {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 25px;
}

.campo-nova-atividade-2 label {
    margin-left: 5px;
    cursor: pointer;
}
.campo-nova-atividade-2 span {
    font-size: .80em;
}

#box-nova-atividade .campo-nova-atividade-2:nth-child(1) {
    margin-right: 12px;
}

#box-nova-atividade .campo-nova-atividade-2:nth-child(2) {
    margin-left: 12px;
    margin-right: 12px;
}

#box-nova-atividade .campo-nova-atividade-2:nth-child(3) {
    margin-left: 12px;
}


.campo-nova-atividade-1,
.campo-nova-atividade-2 {
    margin-bottom: 15px;
    border-radius: 4px;
}

#regiao-dia-horario {
    display: flex;
    border-radius: 4px;
}

#botao-nova-atividade {
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
    padding: 5px 20px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: flex-start;
    transition-duration: 1s ease;
}

#box-lista-atividades {
    margin-left: 5%;
}

#box-lista-atividades table{
    background-color: whitesmoke;
}

#box-lista-atividades thead {
    background: gray;
    padding: 5px 10px;
    font-size: .85em;
    border-radius: 4px;
}


#box-lista-atividades tbody tr:nth-child(even)  {
    background: rgb(196, 195, 195);
    border-radius: 4px;
}

#box-lista-atividades tfoot td {
    background: gray;
    padding: 5px 10px;
    font-size: .85em;
    text-align: right;
    border-radius: 4px;
}

.descricaoAtividade {
    list-style: none;
    height:  45px;
    line-height: 45px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
}

.removerIcone {
    width: 14px;
    margin-left: 15px;
    cursor: pointer;
}


@media screen and (min-width) {

    #container {
        display: block;
    }
    #box-lista-atividades {
        margin-left: 0;
    }

}