body { margin: 0;}

#container{
    background: url(./dndwallpaper.jpg) no-repeat;
    background-color: linear-gradient(to bottom, #000000, #e74c3c);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}
#texto-confirmacao{
    margin: 50px;
    margin-left: 165px;
    padding: 30px;
    font-family: 'MedievalSharp', cursive;
    font-size: 40px;
    color:aliceblue;
    text-shadow: 3px 3px 4.5px #000000;
    border-radius: 15px;
    background-color: rgb(184 124 109 / 80%);
}