#container{
    background: url(./dndwallpaper.jpg) no-repeat;
    background-color: linear-gradient(to bottom, #000000, #e74c3c);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items:flex-start;
    justify-content: space-between;
}
body { margin: 0;}


#chamada {
    margin: 50px;
    padding: 30px;
    font-family: 'MedievalSharp', cursive;
    color:aliceblue;
    text-shadow: 3px 3px 4.5px #000000;
    border-radius: 15px;
    background-color: rgb(184 124 109 / 75%);
}

#chamada h1 {
    font-size: 40px;
    text-align: center;
    
}
#chamada ul li {
    padding-top: 10px;

}

#chamada h5 {
    font-size: 18px;
    

}

#lado-direito {
    background: linear-gradient(to bottom, #000000, #e74c3c);
    width: 35%;
    height: 100%;
    flex-direction:column;
    align-items:stretch;
    align-content: space-between;
    justify-content: space-evenly;
}

p {
    font-size: 24px;
    font-family: 'MedievalSharp', cursive;
    color:aliceblue;
    text-align: center;
    align-content: space-between;
    justify-content: space-around;
}
.campo-formulario {
   padding: 20px;
   border: 10px;
}
.campo-formulario label {
   display: block;
   color:aliceblue;
   font-family: 'MedievalSharp', cursive;
   width: 100%;
   height: 10%;
   align-items:stretch;
   align-content: space-between;
   justify-content: space-evenly;
   padding-bottom: 10px;
}
.campo-formulario input {
   display: block;
   width: 250px;
   height: 10%;
   align-items:stretch;
   align-content: space-between;
   justify-content: space-evenly;
   transition: width 0.6s ease-in-out;
}
.campo-formulario input:focus {
    width:100%
}

#campo-lista {
   display: block;
   width: 210px;
   height: 10%;
   align-items:stretch;
   align-content: space-between;
   justify-content: space-evenly;
}

#botao-centro {
    padding-left: 85px;
    padding-top: 30px;
}

#botao-enviar {
    margin-top: 15px;
    color:aliceblue;
    background:linear-gradient(to top, #000000, #e74c3c) ;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'MedievalSharp', cursive;
    margin: 4px 2px;
    cursor: pointer;
    align-content: flex-start;
    transition-duration: 1s ease;
}
#botao-enviar:hover {
    background: linear-gradient(to bottom, #000000, #e74c3c)
}