#search {
    background: white;
    padding: 20px;
}

#s-search-field {
    padding: 5px 15px;
    width: 228px;
}

#s-search-bttn {
    padding: 5px 15px;
    margin-left: 15px;
}

#s-search-bttn img {
    width: 10px;
}