* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background: #cecece;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

#box-home-page {
    padding: 40px;
}

#container {
    display: flex;
    }

#container main {
    width: 70%;
}

#container aside {
    width: 30%;
    margin-left: 40px;;
}