header h1 {
    margin-bottom: 20px;
}

#h-title-theme {
    display: flex;
    justify-content: space-between;
}

#h-themes > * {
    display: inline-block;
    margin-left: 10px;
}

#h-themes > button {
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}

#h-theme-pink {
    background-color: pink;
}
#h-theme-green {
    background-color: greenyellow;
}
#h-theme-blue {
    background-color: darkcyan;
    color: white;
}
#h-theme-white {
    background-color: white;
}
